@import "utils";

.post-action-buttons {
  margin-right: -0.4rem;
  margin-top: -2rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  @include media("<medium") {
    margin-bottom: 0.5rem;
  }
  .update-btn {
    font-size: 0.875rem;
    color: $oc-gray-6;
    padding: 0.125rem 0.5rem;
    cursor: pointer;
    &:hover {
      color: $oc-blue-5;
    }
  }
  .remove-btn {
    font-size: 0.875rem;
    color: $oc-gray-6;
    padding: 0.125rem 0.5rem;
    outline: none;
    line-height: 0.3;
    border: none;
    margin: 0;
    color: $oc-gray-6;
    overflow: visible;
    background: transparent;
    cursor: pointer;
    &:hover {
      color: $oc-blue-5;
    }
  }
}