@import 'utils';

.video-template {
    .header-area {
        padding: 1rem;
    }
    .video-area {
        @include media("<large") {
            padding-left: 2rem;
            padding-right: 2rem;
            width: 100%;
        }
        @include media("<medium") {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}