@import 'utils';

.video-template {
    .header-area {
        padding: 1rem;
    }
    .video-area {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-left: 5rem;
        max-width: calc(48px * (16 / 9 + 3 * 24px + 300px));
        min-width: calc(1280px + 402px + 0px + (3 * 24px));
        @include media("<=1290px") {
            margin-left: 0;
        }

        @include media("<=large") {
            flex-direction: column;
            min-width: 0;
        }
    }
}