@import 'utils';

.sidebar {
    background: white;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 910;
    border-right: 1px solid #d6d8df;
    box-sizing: border-box;
    height: 100vh;

    @include media(">1024px", "<=1220px") {
        width: 220px;
    }

    @include media("<=1023px") {
        width: 220px;
    }

    @include media ("<=890px") {
        display: none;
    }    
    
    .sidebar-top {
        display: block;
        box-sizing: border-box;
        .logo-section {
            padding: 1.5rem 2rem 2rem;
            margin-bottom: 1rem;
            .logo {
                width: 180px;
                position: relative;
                cursor: pointer;
                padding-left: 1.5rem;
                font-family: "Inconsolata";
                span {
                    margin-left: 0.5rem;
                    width: 600;
                    color: $oc-gray-7;
                    font-size: 2rem;
                }

                @include media("<=large") {
                    span {
                        margin-left: 0;
                    }
                }

                @include media(">1024px", "<=1220px") {
                    padding-left: 0.5rem;
                }

                @include media ("<=890px") {
                    padding-left: 0.75rem;
                }  
            }
        }

        .primary {
            .list {
                padding-left: 0;
                list-style: none;
                margin-top: 0;
                margin-bottom: 1rem;
                box-sizing: border-box;
            }
        }
    }
}