@import 'utils';

.category-menu {
    width: 270px;
    min-height: 300px;
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 2px;
    border-top: 1px solid #e8e9eb;
    box-shadow: 0 4px 16px rgba(20,23,28,.25);
    color: #505763;
    font-size: 13px;
    margin: 1px;
    position: absolute;
    z-index: 1000;
    float: left;
    min-width: 160px;
    max-width: calc(100vw - 30px);
    list-style: none;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;


    ::before {
        content: "";
        position: absolute;
        top: -12px;
        right: 30px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #FFF;
        z-index: 1101;
    }
    
    .menu {
        height: 100%;
        .list-wrapper {
            height: 100%;
            padding: 16px 0;
            margin-bottom: 0;
            list-style: none;
            margin: 0;
            .category {
                padding: 5px 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #29303b;
                font-size: 15px;
                font-weight: 400;
                width: 100%;
                position: relative;
                .icon {
                    color: #a1a7b3;
                    font-size: 20px;
                    font-weight: 600;
                    margin-right: 20px;
                    line-height: 1px;
                    vertical-align: -8%;
                }
                .name {
                    flex: 1;
                    min-width: 1px;
                }

                &:hover {
                    border-right: 3px solid $oc-blue-5;
                    .icon {
                        color: $oc-blue-5;
                    }
                    .name {
                        color: $oc-blue-5;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}