@import 'utils';

.user-head {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #d6d8df;
    .cover-photo {
        background-color: $oc-blue-5;
        height: 240px;
    }
    .head-meta {
        background: white;
        .profile-top-section {
            border-bottom: 1px solid #d6d8df;
            padding: 36px 36px 2rem;
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap !important;
            .profile-thumbnail {
                margin-right: 1rem;
                position: relative;
                top: -100px;
                .thumbnail {
                    display: block;
                    width: 158px;
                    height: 158px;
                    border-radius: 100%;
                    overflow: hidden;
                    background: #f6f7fb;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
                    border: 4px solid #d6d8df;
                    img {
                        width: 100%;
                        display: block;
                        border-radius: 100%;
                        vertical-align: middle;
                        border-style: none;
                    }
                }
            }

            .info {
                width: calc(100% - 174px);
                margin-bottom: 1rem;
                h1 {
                    font-size: 2rem;
                    font-weight: 700;
                    margin: 0 0  0.4rem 0;
                    line-height: 1.2;
                    color: inherit;
                    .username {
                        color: #263238;
                    }
                }

                span {
                    margin-top: 1rem;
                    color: $oc-gray-5;
                    font-size: 1.25rem;
                    font-family: "Inconsolata";
                }
            }

            .profile-btns {
                display: flex !important;
                flex-direction: row !important;
                flex-wrap: wrap !important;
                align-items: center !important;
                .btn {
                    svg {
                        margin-right: 4px;
                        position: relative;
                        top: 0.15rem;
                    }
                    background: #eceff1;
                    color: #37474f;
                    margin-right: 12px;
                    border: 1px solid #eaecf3;
                    cursor: pointer;
                    border-radius: 1000px;
                    border: 1px solid $oc-gray-2;
                    display: inline-block;
                    font-weight: 400;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    user-select: none;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    text-transform: none;
                    overflow: visible;
                    font-family: "Inconsolata";
           
                    &.appear {
                        background: $oc-blue-5;
                        border: 1px solid white;
                        color: white;
                    }
                    &.disappear {
                        background: $oc-red-5;
                        border: 1px solid white;
                        color: white;
                    }
                }
            }
        }

        .profile-extra-info {
            padding: 1rem 36px;
            background: white;
            align-items: center !important;
            flex-wrap: wrap !important;
            flex-direction: row !important;
            display: flex !important;
            .profile-bio {
                width: 50%;
                .bio-info {
                    margin-bottom: 0.5rem;
                    display: flex !important;
                    flex-direction: row !important;
                    flex-wrap: wrap !important;
                    align-items: center !important;
                    svg {
                        width: 20px;
                        height: 20px;
                        fill: #546e7a;
                        margin-right: 8px;
                    }
                    
                    p {
                        font-size: 0.75rem;
                        margin: 0;
                        color: #263238;
                        font-family: 'Rubik',sans-serif;
                        letter-spacing: 1px;
                    }
                }
            }

            .profile-score {
                width: 50%;
                display: flex !important;
                flex-direction: row !important;
                align-items: center !important;

                @include media(">medium") {
                    justify-content: flex-end !important;
                }

                .score-widget {
                    margin: 16px;
                    text-align: center;
                    .small-text {
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        font-weight: 500;
                        color: #546e7a;
                    }
                    .score {
                        margin-top: 0;
                        margin-bottom: 1rem;
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: #263238;
                    }
                }
            }
        }
    }
}