@import 'utils';

.fake-video-card {
    margin: 0.875rem;
    width: calc((100% - 8.75rem) / 3);
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    @include media('<=wide') {
        width: calc(33.333% - 1.75rem);
    }
    @include media('<=x-large') {
        width: calc(50% - 1.75rem);
    }
    @include media('<=large') {
        width: calc(100% - 1.75rem);
    }

    & > .thumbnail-wrapper {
        width: 100%;
        padding-top: 52.63%;
        position: relative;
        display: block;
        img,
        .image-placeholder {
          background: $oc-gray-3;
          object-fit: cover;
          display: block;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .image-placeholder {
          background: $oc-gray-3;
          font-size: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #98a8b9;
        }
    }

    .video-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        color: $oc-gray-8;
        .between {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .thumbnail {
                height: 50px;
                background: $oc-gray-4;
                box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.05);
                width: 50px;
                border-radius: 50%;
            }
            .username {
              margin-left: 1rem;
              height: 2rem;
              width: 100%;
              background: $oc-gray-4;
            }
        }

        .title {
            display: block;
            margin: 0;
            width: 100%;
            height: 1.5rem;
            background: $oc-gray-4;
            margin-top: 0.87rem;
            overflow: hidden;
        }

        .subinfo {
            display: flex;
            flex-direction: row;
            margin-top: 0.6rem;
            .item-views {
                background: $oc-gray-4;
                width: 5rem;
                height: 1rem;
            }
            .item-date {
                margin-left: 0.875rem;
                background: $oc-gray-4;
                width: 5rem;
                height: 1rem;
            }
        }
    }
}
