@import 'utils';

.setting-header {
    padding: 0px 0px 1.6rem;
    h1 {
        font-size: 1.25rem;
        font-weight: 700;
        color: rgb(33, 33, 33);
        margin-bottom: 0.5rem;
        font-family: inherit;
    }
}