@import 'utils';

.input-wrapper {
    box-sizing: border-box;
    margin-top: 12px;
    
    .auth-input {
        padding: .53125rem .75rem;
        font-size: 1rem;
        line-height: 1.714286;
        border-radius: .3rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #313338;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced0da;
        display: block;
        width: 100%;
        overflow: visible;
        margin: 0;
        font-family: inherit;
        cursor: text;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-rendering: auto;
        text-align: start;
        font: 400 13.3333px Arial;

        &.disabled {
            width: calc(100% - 3rem);
        }
    }

    .lock-wrapper {
        position: relative;
        cursor: not-allowed;
    }
    .lock {
        padding: 0.25rem;
        padding-right: 0.5rem;
        background: white;
        position: absolute;
        right: 0.1rem;
        top: -1.9rem;
        color: $oc-gray-6;
    }
    & + & {
        margin-top: 2rem;
    }
    &.disabled {
        input {
            cursor: not-allowed;
            color: $oc-gray-9;
        }
    }
}