@import 'utils';

.nav-item {
    color: $oc-gray-7;
    cursor: pointer;
    a {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-size: 1.125rem;
      padding-left: 1.75rem;
      display: flex;
      align-items: center;
      svg {
        font-size: 1.5rem;
      }
      .text {
        font-weight: 400;
        margin-left: 1rem;
        margin-bottom: 0.25rem;
      }
    }
  
    &:hover {
        background-color: $oc-gray-2;
    }
  
    &.active {
        border-right: 3px solid $oc-blue-4;
        svg {
            color: $oc-blue-7;
        }
        .text {
          font-weight: 700;
          color: $oc-blue-7;
        }
    }
}